*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}

